<h1>Oops -- the page you requested doesn't exist. </h1>
<% if(PollApp.currentUser.id == undefined){ %>
  <a href="/" >home</a>
<% }else{ %>
  <a href="#/users/<%= PollApp.currentUser.id %>" >Your Polls</a>
<% } %>
