<div id="hero">
	<div class="colthirds col1">
    <div class="topwrap" >
  		<div class="imagewrap">
  			<img src="/assets/icon-1.png" width="96" height="63" alt="Get Started" />
  		</div>
  		<h2>Get Started</h2>
  		<h4>Polladillo helps you engage your audience with live polling.</h4>
    </div>
  	<a href="#/login_as_guest" id="loginAsGuest">Log In as a Guest</a>
  </div>
	<div class="colthirds col2">
   <div class="topwrap" >
  		<div class="imagewrap">
  			<img src="/assets/icon-2.png" width="89" height="96" alt="Engage Your Audience" />
  		</div>
  		<h2>Engage Your Audience</h2>
  		<h4>Votes are collected online or via text message.</h4>
    </div>
  	<a href="#/signup">Join Now</a>
	</div>
	<div class="colthirds last col3">
    <div class="topwrap" >
  		<div class="imagewrap">
  			<img src="/assets/icon-3.png" alt="Live Results" />
  		</div>
  		<h2>Live Results</h2>
  		<h4>Now wait, no refresh -- see results updated live as votes are submitted.</h4>
    </div>
    <a href="#/polls/10/vote">Take a Poll</a>
	</div>
</div>
</p>