<h1>Live Audience Polling</h1>
<p>Polladillo lets you poll your audience and display the results in real time</p>
<p>
Sign in or <a href="#/signup">sign up</a> to get started, or try us out
<a href="#" id="loginAsGuest">as a guest</a>
</p>