<div id="header-logo">
  <h1 >Polladillo</h1>
</div>

  <% if(PollApp.currentUser.id){ %>
<div id="header-logout">
  <p>
    Hello <%= PollApp.currentUser.escape("username") %>
  </p>
  <p>  
  <input type="button" class="btn btn-primary" value="Log Out" id="logOut" >
  </p>
</div>
  <div id="menu"><div id="menu-inner">
    <a class="menu-item" href="#/users/<%= PollApp.currentUser.id %>" >My Account</a> 
    <a class="menu-item" href="#/polls/new">Create a Poll</a>
  </div>
</div>
<% }else{ %>
<p>

<div id="header-login" >
  <form id="topStripeLogIn">

    <label for="user_email">Email Address</label>
    <input type="text" id="user_email" name="user[email]">

    <label for="user_password">Password</label>
    <input type="password" id="user_password" name="user[password]">

    <input type="submit" class="btn btn-primary" value="Log In" id="logIn" ><br>
    <div id="error_messages_header"></div>
    
  </form>
  <div id="log-in-facebook" >
  Don't have an account? <a href="#/signup" class="white" >Sign Up</a>
  or <input type="button" class="btn btn-primary" value="Log in with Facebook" id="logInWithFacebook" >
  <% } %>
  </div>
</div>
