<div class="center">
 <div class="centered" >
  <h1><%= poll.escape("title") %></h1>
  <h3>Text your answers to POLL-100-999 <span class="phone_number_number">(7655 100 999)</span></h3>
  <ul class="results">
   <% if(poll.get("questions")){ %>
      <% var question_num = 0 %>
      <% poll.get("questions").each(function (question) { %>
        <li>
        <h3><%= question.escape("value") %></h3>
          <ul>
          <% if(question.get("answers")){ %>
            <li>
            <div id="question_<%= question.id %>_bar_graph" class="bar_graph"></div>
            </li>
          <% } %>
          </ul>
        </li>
        <% question_num ++ %>  
      <% }); %>
    <% } %>
  </ul>
</div>
</div>