<div class="center">
 <div class="centered" >
    <p>hi <%= user.escape("username") %></p>
    <a href="#/polls/new" >New Poll</a> <a href="#/users/<%= user.id %>/edit">Edit Account</a>
    <p>Your Polls</p>
    <%= JST["polls/index"]({polls: polls}) %>
  </div>
</div>
