<div class="center">
 <div class="centered" >
    <h2>hi <%= user.escape("username") %> <a class="smallLink" href="#/users/<%= user.id %>/edit">edit</a></h2>
    
    <br>
    <br>
    <h2>Your Polls</h2>
    <%= JST["polls/index"]({polls: polls}) %>
  </div>
</div>
