<div class="center">
 <div class="centered" >
    <h2>Hi <%= user.escape("username") %> 
      <a class="smallLink do_icon" href="#/users/<%= user.id %>/edit">
        <span data-toggle='tooltip' data-placement='bottom' data-original-title="Edit" class='fui-new-16'></span>
      </a>
    </h2>
    
    <br>
    <% if(polls.length === 0){ %>
      <%= JST["polls/index-none"]() %>
    <% }else{ %>
    <%= JST["polls/index"]({polls: polls}) %> 
    <% } %>
    
  </div>
</div>
