// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue1: #5dade2; 
$yellow: #ffb60d;
$brown: #b27c00;

body{
    font-family: Futura, 'futura-pt', Arial, sans-serif; 
}

.icons{
  font-family: 'Flat-UI-Icons';
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.hidden{
  display:none;
}

.center{
  text-align: center;
  .centered{
    display: inline-block;
    text-align: left;
  }
}

.plain{
  font-family: sans-serif;
  color: #34495e;
  h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
    color: #34495e;
  }
  
}

.smallLink{
  font-size:14px;
  font-weight:500;
}

.white{
  color: #ffffff;
}

#header, #content{
    min-width:940px;
}

#header{
  @extend .clearfix;
  background: $blue1;
  color: #fff;
  padding: 5px 15px 15px;
  margin-bottom: 20px;
  height: 95px;
  position: fixed;
  z-index: 100;
  width: 100%;
  #header-logo{
    float: left;
    width: 360px;
    margin-top:0px;
    h1{
      font-size: 45px;
      letter-spacing:2px;
      margin: 0;
      margin-top: -11px;
      span{
       position:relative;
       top:7px; 
      }
      a{
       color: #fff; 
       text-decoration: none;
       font-weight:500;
      }
    }
    #subheader{
     margin-left:7px;
     letter-spacing: 9px; 
    }
  }
  #header-logout{
    text-align:center;
    margin-top:15px;
    float:right;
    width:200px;
  }
  #header-login{
   	float:right;
    width:500px;
    margin-right:45px;
    #topStripeLogIn{
      float:right;
      label{
       display:inline;
      }
      input[type='text'], input[type='password']{
        width:100px;
        height:5px;
      }
      #logIn{
        position:relative;
        top: -4px;
      }
      #error_messages_header{
        margin-bottom:-15px;
      }
    }
    #log-in-facebook{
      float: right;
      clear: both;
    }
  }
  #menu{
    position: absolute;
    top: 91px;
    text-align: right;
    width:100%;
    #menu-inner{
      margin-right:85px;
       a{
         color: #fff;
         font-style: bolder; 
         text-decoration: none;
         margin: 0 0 0 30px;
        }
      a.current-menu-item{
        text-decoration: underline;
      }
    }
  }
}

#content{
  padding-top:145px;
  
}

form#votePoll,form#editPoll{
  ul{
      text-align: left;
      list-style-type: none;
      h3{
       margin-left:-25px; 
      }
  }
}

form#votePoll{
  text-align:center;
  #submitVote{
     display:inline-block;
   }
}

form#editPoll{
  min-height:900px;
  width:600px;
  input[type="text"]{
   width:500px; 
  }
  #poll_title{
    width:527px;
  }
  textarea{
    width:500px;
    height:100px;
  }
  input.answer{
    width:475px;
  }
  .removeQuestion{
    vertical-align: bottom;
    position:relative;
    top:-9px;
  }
  .removeAnswer{
    vertical-align: middle;
  }
  #savePoll{
    width: 540px;
  }
  #error_messages{
    width: 540px;
  }
}

#error_messages{
  .error_message{
    margin:5px 0px;
    padding: 5px;
    border:2px solid #e74c3c;
    color: #e74c3c;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
}

#error_messages_header{
  .error_message_header{
    color: #bd362f;
  }
}

.email-preview{
  border: 2px solid #34495e;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 10px 0;
  padding: 10px;
  width:390px;

}

.emails{
  textarea#emails{
    width:400px;
    height:200px;
  }
  
}
ul.results{
  span.phone_number_number{
    
  }
  list-style-type:none;
  canvas{
    float:left;
  }
  ul{
    @extend .clearfix;
    list-style-type:none;
  }
  h3{
    margin-top:35px;
  }
  ul.graph_label{
    float:left;
    list-style-type:none;
    padding: 0;
    li{
      line-height:30px;
      span.data_label_label{
       position:relative;
       top:-4px;
       left: 10px;
       font-size: 30px; 
      }
      span.data_label_count{
         position:relative;
         top:-4px;
         left:10px;
         font-size: 30px;
      }
      .data_label_color{
         background: #4824c1;
         height: 20px;
         width: 20px;
         display: inline-block;
         -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
         border-radius: 6px;
       }
       span.text_prompt{
          position:relative;
          top:-4px;
          left:40px;
          font-size: 20px;
       }
    }
  }
}
#pollsIndexBox{
  padding-top:5px;
  margin-top:10px;
  border-top:3px solid #5dade2;
  #newPollLink{
   float:right;
  }
  ul#pollsIndex{
    list-style-type: none;
    margin-top:15px;
    a{
     margin-right:15px; 
    }
  }
}
